#bemp-page{
  border-top: 50px solid transparent;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}
#bemp-page.has-personalized-bg {
  background: var(--emp-head-title-bg);
}
#bemp-background{
  background: var(--emp-head-title-bg);
  height: 100%;
  opacity: var(--emp-head-opacity);
  position: absolute;
  width: 100%;
}
@media (min-width: 992px) {
  #bemp-background{
    background-size: 100%!important;
  }
}
#bemp-div{
  height: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media (min-width: 992px) {
  .has-personalized-bg #bemp-div{
    margin-right: 8%;
  }
}
#bemp-h1{
  align-items: center;
  color: var(--emp-head-title-color);
  display: flex;
  font-family: var(--emp-head-title-tipography), 'sans-serif';
  height: 20%;
  margin: 0;
  justify-content: center;
  text-align: center;
}
@media (max-width: 400px) {
  #bemp-h1{
    font-size: 28px;
  }
}
#bemp-breadcrumbs{
  align-items: center;
  color: var(--emp-head-title-color);
  display: block;
  font-size: 12px;
  height: 9%;
  padding: 0 10px;
  transition: all .1s ease-out;
}
#bemp-container-options{
  color: var(--emp-head-title-color);
  height: 56%;
  margin: auto;
  overflow: hidden;
}
@media(min-width:992px){
  #bemp-breadcrumbs.onBreadcrumbs {
    font-size: 20px;
    height: 6%;
  }
  #bemp-h1{
    height: 33%;
    font-size: 60px;
  }
  #bemp-breadcrumbs{
    height: 3%;
  }
  #bemp-container-options{
    font-size: 25px;
    height: 40%;
  }
}
#bemp-options{
  height: 100%;
  list-style: none;
  overflow: auto;
  padding: 20px;
}
#bemp-options .d-flex{
  display: flex;
}
#bemp-options img.emoji{
  border-radius: 0!important;
  height: 57px!important;
  margin-left: 10px!important;
  position: absolute;
  width: 50px!important;
  z-index: 9;
}
#bemp-options li{
  font-weight: 700;
  position: relative;
}
#bemp-options li ul{
  padding: 0;
}
#bemp-options li ul li {
  font-weight: 400;
  list-style: none;
  padding: 10px 0px 10px 30px;
}
#bemp-options li ul li:hover {
  background: #eeeeee77;
  cursor: pointer;
}
#bemp-options li ul li.has-emoji{
  line-height: 37px;
  margin: 20px 0;
  min-height: 57px;
  padding-left: 80px;
}
.bemp-option-actived{
  background: var(--emp-head-title-color)!important;
  color: var(--emp-head-title-bg)!important;
}
#bemp-km, #bemp-number, #bemp-data{
  margin: auto;
  width: 100%;
}
#bemp-km-input, #bemp-number-input, #bemp-name-input, #bemp-last-name-input{
  font-size: 30px;
  width: 100%;
}
@media (min-width: 992px){
  #bemp-km-input, #bemp-number-input, #bemp-name-input, #bemp-last-name-input{
    font-size: 50px;
    width: 100%;
  }
}
input#bemp-name-input, input#bemp-last-name-input {
  margin: 20px 0;
}
#bemp-select{
  height: 100px;
  margin: auto;
  width: 100%;
}
#bemp-buttons{
  height: 15%;
  position: relative;
}
.bemp-btn{
  bottom: 3%;
  cursor: pointer;
  font-size: 20px;
  height: 60%;
  margin: 2.5% 20px;
  position: absolute;
  width: 38%;
}
@media(max-width:991px){
  .bemp-btn{
    margin: 5% 20px;
  }
}
.bemp-btn-disabled:focus{
  outline: none;
}
.bemp-btn-disabled{
  cursor: default;
  opacity: .5;
}
#bemp-btn-back{
  background: transparent;
  border: 1px solid;
  left: 0;
}
#bemp-btn-next{
  background: var(--emp-btn-bg)!important;
  border: 1px solid var(--emp-btn-bg)!important;
  color: var(--emp-btn-color)!important;
  right: 0;
}
/* Animation fade in */
.bemp-fade-in{
  -khtml-opacity: 0;
  -webkit-opacity: 0;
	opacity: 0;
  transition: all .3s;
}
.bemp-faded{
  -khtml-opacity: 1!important;
  -webkit-opacity: 1!important;
  height: 100%!important;
	opacity: 1!important;
  transition: all .3s;
}
.bemp-d-none{
  display: none!important;
}
/* Prevent default events */
body {
  height: 101vh;
  overflow: hidden;
}
@media(min-width: 992px){
  body {
    overflow: hidden;
  }
}
/* Empralidad-Theme support */
article.content-background{
  background: transparent!important;
}
#navbar-background{
  background: var(--emp-nav-bg)!important;
  transition: .3s all;
}
#top-notice{
  display: none;
}
#wpadminbar{
  display: none!important;
}
a#btn-searchform, a.fa-dark.fab.fa-whatsapp, .img-fixed {
  display: none!important;
}
.admin-fixed-top {
  top: 0!important;
  position: fixed;
  width: 100vw;
}
.buttons-mobile{
  display: none!important;
}
header{
  display: none;
}
